@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 100rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.btn {
  padding: 1.6rem 3.2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fafafa;
  background-color: #e67e22;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9px;
  position: relative;
}
.btn:hover {
  cursor: pointer;
  background-color: #cf711f;
}
.btn-icon {
  position: absolute;
  left: 0.5rem;
}

.tryForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}
.tryForm-list {
  display: flex;
  flex-direction: column;
  padding: 4.8rem 3.2rem 6.4rem 3.2rem;
}
@media screen and (min-width: 768px) {
  .tryForm-list {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
}
.tryForm-list-heading {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #45260a;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  .tryForm-list-heading {
    font-size: 3.6rem;
  }
}
.tryForm-list-desc {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.tryForm-imgbox {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../../assets/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.preferences {
  border: 0.0625rem black solid;
  height: 10rem;
  text-align: center;
  padding: 0.4rem 0;
  width: 40%;
  margin-right: 1rem;
  list-style: none;
}
.preferences__form {
  display: flex;
  justify-content: center;
}
.preferences__container {
  display: flex;
  justify-content: center;
}
.preferences__label {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 0.3rem;
  margin-right: 0.1rem;
  padding: 0.2rem 1rem;
}
.preferences__list--clear {
  background-color: transparent;
  border: none;
}
.preferences__input {
  margin-top: 0.1rem;
  width: 100%;
}
.preferences__btn {
  width: 3rem;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  float: right;
}

.border {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 40%;
  margin-right: 1rem;
  text-align: center;
}

.restriction__container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

h1 {
  text-align: center;
}

h4 {
  margin: 0;
}

#prefer {
  background-color: green;
  border-color: green;
}

#avoid {
  background-color: red;
  border-color: red;
}

.selected__tab {
  background-color: lightblue;
}