@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;

.tryForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  // background-image: linear-gradient(to right bottom, #eb984e, $btn-bg-color);
  overflow: hidden;
  &-list {
    display: flex;
    flex-direction: column;
    padding: 4.8rem 3.2rem 6.4rem 3.2rem;
    @include tablet {
      padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    }
    &-heading {
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.2;
      color: $cta-btn-color;
      margin-bottom: 3.2rem;
      @include tablet {
        font-size: 3.6rem;
      }
    }
    &-desc {
      font-size: 1.8rem;
      line-height: 1.8;
      margin-bottom: 4.8rem;
    }
  }

  &-imgbox {
    background-image: linear-gradient(
        to right bottom,
        rgba(235, 151, 78, 0.35),
        rgba(230, 125, 34, 0.35)
      ),
      url('../../assets/img/eating.jpg');
    background-size: cover;
    background-position: center;
  }
}
.preferences {
  border: 0.0625rem black solid;
  height: 10rem;
  text-align: center;
  padding: 0.4rem 0;
  width: 40%;
  margin-right: 1rem;
  list-style: none;

  &__form {
    display: flex;
    justify-content: center;
  }
  &__container {
    display: flex;
    justify-content: center;
  }

  &__label {
    border: 1px solid black;
    border-bottom: none;
    border-radius: 0.3rem;
    margin-right: 0.1rem;
    padding: 0.2rem 1rem;
  }

  &__list {
    &--clear {
      background-color: transparent;
      border: none;
    }
  }

  &__input {
    margin-top: 0.1rem;
    width: 100%;
  }

  &__btn {
    width: 3rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    float: right;
  }
}

.border {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 40%;
  margin-right: 1rem;
  text-align: center;
}

.restriction {
  &__container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
  }
}

h1 {
  text-align: center;
}

h4 {
  margin: 0;
}

#prefer {
  background-color: green;
  border-color: green;
}

#avoid {
  background-color: red;
  border-color: red;
}

.selected {
  &__tab {
    background-color: lightblue;
  }
}
