@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 100rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.btn {
  padding: 1.6rem 3.2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fafafa;
  background-color: #e67e22;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9px;
  position: relative;
}
.btn:hover {
  cursor: pointer;
  background-color: #cf711f;
}
.btn-icon {
  position: absolute;
  left: 0.5rem;
}

.tryForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.tryForm-list {
  display: flex;
  flex-direction: column;
  padding: 4.8rem 3.2rem 6.4rem 3.2rem;
}
@media screen and (min-width: 768px) {
  .tryForm-list {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
}
.tryForm-list-heading {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #45260a;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  .tryForm-list-heading {
    font-size: 3.6rem;
  }
}
.tryForm-list-desc {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.tryForm-list-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tryForm-list-form-div {
  color: #45260a;
  font-size: 1.8rem;
}
.tryForm-list-form-div input[type=checkbox] {
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
}
.tryForm-list-form-submit {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #45260a;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5rem;
}
.tryForm-list-form-submit:hover {
  background-color: #fff;
  color: #45260a;
}
.tryForm-imgbox {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../../assets/img/eating.jpg");
  background-size: cover;
  background-position: center;
}