@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(OpenType);
  src: url("../../assets/font/AvenirNextLTProRegular.otf") format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTProBold.otf") format(OpenType);
  src: url("../../assets/font/alternativefiles/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 1.6rem 0;
}

.container {
  margin: auto;
  padding: 0 1.6rem 0 1.6rem;
  max-width: 70rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.6rem 0 3.6rem;
    max-width: 78rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 128rem;
  }
}

.btn {
  padding: 1.6rem 3.2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fafafa;
  background-color: #e67e22;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9px;
  position: relative;
}
.btn:hover {
  cursor: pointer;
  background-color: #cf711f;
}
.btn-icon {
  position: absolute;
  left: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.header__logo {
  height: 2.2rem;
}
.header__logo:hover {
  cursor: pointer;
  scale: 1.05;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
  .header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  .header__nav-list-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  .header__nav-list-link:hover {
    color: #cf711f;
    cursor: pointer;
  }
  .header__nav-list-cta {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
  }
  .header__nav-list-cta:hover {
    background-color: #cf711f;
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .header__mobileIcn {
    display: none;
  }
}
.header__mobileIcn-menu {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.stickyNAv {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.795);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.stickyNAv-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10rem 2rem;
}
.stickyNAv-list-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.stickyNAv-list-link:hover {
  color: #cf711f;
  cursor: pointer;
}
.stickyNAv-list-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.stickyNAv-list-cta:hover {
  background-color: #cf711f;
  color: #fff;
}